.header {
  position: relative;
  background-image: url('../assets/header-bg.png'); 
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin-top: 110px;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.header-content {
  position: relative;
  z-index: 1;
}

.header h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  color: white;
  margin: 0;
  font-family: lilita one;
}

.header p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-family:Geologica;
}

.container1 {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url(https://cdn.prod.website-files.com/61c1fed84b29a841427d2d59/66d73e2c1b8381ca608aa73c_case%20study%20shapes.svg);
  background-size: cover;
  background-position: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  margin: 20px 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-left {
  flex-direction: row-reverse;
}

.card-right {
  flex-direction: row;
}

.card-image {
  height: 300px;
  width: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.card-content {
  padding: 20px;
  flex: 1;
  font-family: Arial, sans-serif;
}

.card-number {
  font-size: 2rem;
  color: #ffb100;
}

.card h2 {
  font-size: 1.75rem;
  margin-top: 10px;
  color: #333;
  font-family:Geologica;
}

.yellow-line {
  width: 50px;
  height: 4px;
  background-color: #ffb100;
  margin: 10px 0;
}

.card p {
  line-height: 1.6;
  color: #555;
  font-size: 18px;
  font-family:Geologica;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .card-image {
    width: 100%;
    height: 200px;
  }

  .card-content {
    padding: 20px;
  }
}

.arrow-image {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.arrow-right {
  transform: rotate(0deg); 
}

.arrow-left {
  transform: rotate(180deg); 
}

.card-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
}