.unique-auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../assets/Loginbg.jpg') no-repeat center center fixed;
  background-size: cover; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 1rem;
  margin-top: 30px;
}

.unique-auth-heading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #2c3e50; 
  text-align: center;
  font-family:Geologica;
  color: #555;
}

.unique-auth-form {
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  width: 350px;
  max-width: 90%;
  text-align: left;
}

.unique-auth-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #34495e; 
  font-weight: 600;
  font-size: 18px;
  font-family:Geologica;
  color: #555;
}

.unique-auth-input {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border 0.3s ease;
  font-size: 18px;
  font-family:Geologica;
  color: #555;
}

.unique-auth-input:focus {
  outline: none;
  border-color: #3498db; 
  box-shadow: 0 0 6px rgba(52, 152, 219, 0.3);
}

.unique-auth-button {
  background-color: #3498db; 
  color: #ffffff;
  border: none;
  padding: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  font-size: 18px;
  font-family:Geologica;
  color: #555;
}

.unique-auth-button:hover {
  background-color: #2980b9; 
}

.unique-auth-footer {
  margin-top: 1rem;
  color: #2c3e50;
  font-size: 0.9rem;
  text-align: center;
}

.unique-auth-footer span {
  color: #3498db; 
  cursor: pointer;
  text-decoration: underline;
}

.unique-auth-footer span:hover {
  color: #2980b9; 
}

@media (max-width: 480px) {
  .unique-auth-form {
    padding: 1.5rem;
    width: 100%;
  }

  .unique-auth-heading {
    font-size: 1.8rem;
  }
}
