:root {
  --light-bg: #f9f9f9;
  --light-text: #333;
  --dark-bg: #121212;
  --dark-text: #f1f1f1;
  --accent-color: #FFBC13;
}

.faq-container {
  font-family: Arial, sans-serif;
  /* margin-left: 70px; */
}

.faq-heading {
  color: #4B0082;
  font-size: 40px;
  text-align: left;
  margin-bottom: 24px;
  padding: 40px 40px;
  font-family: 'Lilita One';
  font-weight: 400;
  margin-left: 450px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-item {
  border: 1px solid #ccc;
  border-radius: 18px;
  overflow: hidden;
  width: 1250px;
  background-color: var(--light-bg);
  transition: background-color 0.3s ease;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  background-color: var(--light-bg);
  color: var(--light-text);
  font-weight: 400;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 24px;
  font-family: Geologica;
}

.faq-question:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.faq-answer {
  padding: 15px;
  font-weight: 100;
  color: #555;
  font-size: 22px;
  font-family: Geologica;
  line-height: 1.6;
  background-color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* DARK THEME */
.dark-theme .faq-heading {
  color: #FFBC13;
}

.dark-theme .faq-item {
  background-color: var(--dark-bg);
  border: 1px solid #333;
}

.dark-theme .faq-question {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.dark-theme .faq-question:hover {
  background-color: var(--accent-color);
  color: #FFBC13;
}

.dark-theme .faq-answer {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {
  .faq-heading {
    font-size: 28px;
    margin-left: 10px;
  }
  .faq-item {
    width: 100%;
  }
  .faq-question {
    font-size: 22px;
  }
  .faq-answer {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .faq-heading {
    font-size: 26px;
    margin-left: 5px;
  }
  /* .faq-container {
    max-width: 90%;
    margin: 20px auto;
  } */
  .faq-question {
    font-size: 20px;
  }
  .faq-answer {
    font-size: 18px;
  }
}

@media (max-width: 426px) {
  .faq-heading {
    font-size: 24px;
    text-align: center;
  }
  .faq-question {
    font-size: 18px;
  }
  .faq-answer {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .faq-heading {
    font-size: 20px;
  }
  .faq-question {
    font-size: 14px;
    padding: 8px;
  }
  .faq-answer {
    font-size: 12px;
    padding: 8px;
  }
}
