
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 100px;
  position: relative;
    background-image: url('../assets/Contactbg.png');
    background-size: cover;
    background-position: center;
}

.image-placeholder {
  width: 80%;
  height: 300px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.left, .right {
  width: 48%;
}

.left {
  /* font-size: 14px; */
  line-height: 1.8;
  font-weight: bold;
  font-size: 18px;
  font-family:Geologica;
  color: #555;
}

.left img {
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family:Geologica;
  color: #555;
}

.right input, .right textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.right textarea {
  height: 100px;
}

.send-button {
  background-color: #8403e0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.send-button:hover {
  background-color: #4B0082;
}

@media (max-width: 768px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 150px;
  }
  
  .content {
    flex-direction: column;
    align-items: center;
  }

  .left, .right {
    width: 100%;
  }
}

.map-container {
  width: 100%;
  height: 300px; 
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px; 
  box-sizing: border-box; 
}

.subject-dropdown {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.subject-dropdown:hover {
  background-color: #f1f1f1;
  border-color: #ffc107;
  cursor: pointer;
}

.right input:hover, 
.right textarea:hover {
  background-color: #f1f1f1;
  border-color: #ffc107;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

@media (max-width: 425px) {
  .contact-container {
    margin-top: 200px;
  }
}

  @media (max-width: 375px) {
    .contact-container {
      margin-top: 1650px;
    }
    }
    @media (max-width: 320px) {
      .contact-container {
        margin-top: 180px;
      }

    }
