.card-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout for small screens */
    gap: 20px;
    /* margin-top: 0; */
    margin-bottom: 50px;
  }
  
  .main-services-container h2 {
    text-align: center;
    color: #4B0082;
    padding: 40px 40px;
  }
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
    margin-left: 10px;
    margin: 0 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
  }
  
  .card:hover {
    transform: translateY(-10px); /* Slight lift */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  }
  
  .card-content {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .card-content.image-left .card-image {
    order: 0;
  }
  
  .card-content.image-right .card-image {
    order: 1;
  }
  
  .card-image {
    width: 120px;
    border-radius: 20px;
    height: auto;
    transition: transform 0.3s ease; /* Smooth animation for image scaling */
  }
  
  .card:hover .card-image {
    transform: scale(1.1); /* Slight zoom on hover */
  }
  
  .card-text {
    max-width: 500px;
  }
  
  .card-text h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
    transition: color 0.3s ease; /* Smooth color change */
  }
  
  .card-text p {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
    transition: color 0.3s ease; /* Smooth color change */
  }
  
  .card:hover .card-text h3 {
    color: #FFBC13; /* Change the title color on hover */
  }
  
  .card:hover .card-text p {
    color: #333; /* Slightly darker text on hover */
  }
  
  /* Responsive Design */
  @media (min-width: 768px) {
    .card-container {
      grid-template-columns: 1fr 1fr; /* Two-column layout */
      gap: 30px;
    }
  }
  