body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto; 
}

.offer-section {
  text-align: center;
  padding: 50px 0; 
}


.offer-section h2 {
  font-size: 28px; 
  margin-bottom: 20px;
  color: #4B0082;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap; 
}

.card1 {
  width: 30%; 
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px; 
  border: 2px solid #ddd;
}

.card1 img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-radius: 10px;
}

.card1 h3 {
  margin: 15px 0;
  font-size: 20px;
  font-weight: bold;
}

.card1 p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.card1:hover {
  transform: translateY(-10px); 
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.fact:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease; 
}


.facts-section {
  text-align: center;
  background-size: cover;
  background-image: url('https://themes247.net/html5/construction-template/demo/assets/img/bg-section-2.jpg');    
  color: white;
  background-repeat: no-repeat; 
  padding: 60px 0;
  width: 100%; 
  margin: 0; 
  box-sizing: border-box;
  position: relative;
}

.facts-section h2 {
  font-size: 32px; 
  margin-bottom: 10px;
  font-weight: bold;
}

.facts-section h3 {
  font-size: 24px; 
  margin-bottom: 30px;
}

.facts {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap; 
}

.fact {
  text-align: center;
  max-width: 250px; 
  margin-bottom: 20px;
}

.fact h4 {
  font-size: 30px; 
  color: white;
  font-weight: bold;
}

.fact p {
  font-size: 16px; 
}

@media (max-width: 768px) {
  .cards {
      flex-direction: column;
      align-items: center;
  }

  .card1 {
      width: 80%; 
      margin-bottom: 20px;
  }

  .facts {
      flex-direction: column;
      align-items: center;
  }

  .fact {
      width: 80%; 
  }
}
