.progress-bar-container {
  background-color: #debaf7;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.progress {
  height: 100%;
  background: linear-gradient(90deg, #f9a825, #ffd54f);
  transition: width 1.5s ease-in-out; 
  border-radius: 10px 0 0 10px;
}