.team-section {
  text-align: center;
  padding: 100px 80px;
  position: relative;
  background-image: url('../assets/Teambg.svg');
  background-size: cover;
  background-position: center;
}

.team-title {
  color: #4B0082;
  margin-bottom: 20px;
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  font-family: lilita one;
}

.team-carousel .team-member {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 5px; 
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.team-carousel .team-member:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
  background-color: #f0f8ff; 
}
.team-member-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover; 
  filter: none; 
  opacity: 1;
}

.team-member-name {
  font-size: 1rem;
  color: #333; 
  margin: 5px 0;
  font-family: Arial, sans-serif;
}

.team-member-role {
  font-size: 0.9rem;
  color: #555; 
  font-family: Arial, sans-serif;
}

img {
  -webkit-transform: none; 
  -moz-transform: none;
  transform: none;
  image-rendering: auto; 
}

@media(max-width:768px){
  .team-title{
    font-size: 40px;
  }
}

@media(max-width:425px){
  .team-title{
    font-size: 30px;
  }
}

@media(max-width:375px){
  .team-title{
    font-size: 25px;
  }
}

@media(max-width:768px){
  .team-title{
    font-size: 20px;
  }
}